<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123240012898-r1j7tq04iqr4h75ecn1rf4a8o46h9k3b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123240012898-r1j7tq04iqr4h75ecn1rf4a8o46h9k3b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>123240012898-17n5dd3s19skfgu5qjqir79neqet1pkh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBczizdnhbKFOKezKvKUy0m1Yl7oOWyeEo</string>
	<key>GCM_SENDER_ID</key>
	<string>123240012898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.biliksuun.incomeexpensetracker</string>
	<key>PROJECT_ID</key>
	<string>income-expense-tracker-61fc8</string>
	<key>STORAGE_BUCKET</key>
	<string>income-expense-tracker-61fc8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123240012898:ios:84de6b97fca7ca29e8053b</string>
</dict>
</plist>